@import "tailwindcss";

@theme {
  --color-primary: #e4f0f7; /* Alice Blue or Light Azure*/
  --color-secondary: #9333ea;
  --color-ctaPrimary: #ff6f61;
  --color-ctaSecondary: #3e2a2a;
  --color-background: #ffffff;
  --color-textPrimary: #3e2a2a;
  --color-textSecondary: #ffb3a0;
  --spacing-base: 1rem;
}

/* Default English styles */
body {
  font-size: 16px;
  line-height: 1.5;
}

/* Tamil specific overrides */
html:lang(ta) body {
  font-size: 14.5px; /* Slightly smaller to match English visual weight */
  line-height: 1.8; /* Extra breathing room for ascenders/descenders */
  letter-spacing: 0.02em; /* Adds slight spacing for better legibility */
}

/* When the system is in dark mode, override the variable */
/* @media (prefers-color-scheme: dark) {
  :root {
    --color-primary: red;
    --color-secondary: #9333ea;
    --color-bg: #ffffff;
    --spacing-base: 1rem;
  }
} */
